body {
    font-family: 'robotoregular';
    font-weight: normal;
    font-style: normal;
}

.layout {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Remove scroll bars */
.comments-panel, .snippets-panel {
    overflow-y: auto;
    /* FireFox */
    scrollbar-width: none;
    /* IE10+ */
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.comments-panel::-webkit-scrollbar, .snippets-panel::-webkit-scrollbar {
    /* Chrome, Safari, Edge */
    display: none;
}

.comments-panel {
    padding: 1em 2em;
}

.file-comments-summary {
    word-wrap: break-word;
    cursor: pointer;
    outline: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-size: medium;
    font-weight: bold;
}

.file-comments-summary::marker {
    font-size: larger;
}

.file-comments-details {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 1em;
}

.file-comment {
    display: grid;
    grid-template-columns: 2em 1fr;
    position: relative;
    padding: 0.5em;
    margin: 0.5em 0;
}

.file-comment:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.5em;
    border: 2px solid transparent;
    background-color: hsla(201, 100%, 50%, .1);
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.file-comment:hover:after {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

.file-comment-logo {
    width: 100%;
}

.file-comment-content {
    display: grid;
    grid-template-rows: 2em 1fr;
}

.file-comment-content-header {
    align-self: center;
}

.snippets-panel {
}

.snippet {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .snippets-panel {
        display: none;
    }

    .layout {
        grid-template-columns: 1fr;
    }
}
