body {
    font-family: 'robotoregular';
    font-weight: normal;
    font-style: normal;
}

.layout {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.comments-panel {
    background: red;
}

.snippets-panel {
    background: green;
}
