body {
    font-family: 'robotoregular';
    font-weight: normal;
    font-style: normal;
}

.layout {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Remove scroll bars */
.comments-panel, .snippets-panel {
    overflow-y: auto;
    /* FireFox */
    scrollbar-width: none;
    /* IE10+ */
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.comments-panel::-webkit-scrollbar, .snippets-panel::-webkit-scrollbar {
    /* Chrome, Safari, Edge */
    display: none;
}

.comments-panel {
    background: red;
    padding: 2em;
}

.file-comments-summary {
    word-wrap: break-word;
}

.file-comments-details {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 1em;
}

.file-comment {
    display: grid;
    grid-template-columns: 2em 1fr;
    position: relative;
    padding: 0.5em;
    margin: 0.5em 0;
}

.file-comment:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

.file-comment:hover:after {
    border-radius: 0.5em;
    border: 4px solid #bbbbbb;
}

.file-comment-logo {
    width: 100%;
}

.file-comment-content {
    display: grid;
    grid-template-rows: 2em 1fr;
}

.file-comment-content-header {
    align-self: center;
}

.snippets-panel {
    background: green;
}

.snippet {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .snippets-panel {
        display: none;
    }

    .layout {
        grid-template-columns: 1fr;
    }
}
